
<div class="footer">
  <div class="wrapper">
    <div class="footer__contacts">
      <div class="footer__links"><a>how it works</a><a>Blog</a><a>Contact Us</a></div>
      <div class="footer__social"><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a target="_blank" href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a><a target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
      <div class="footer__buttons">
        <button class="active">Sign Up</button>
        <button>Login</button>
      </div>
    </div>
    <div class="footer__form">
      <h4>Write Us:</h4>
      <input type="text" placeholder="Your Name"/>
      <input type="text" placeholder="Your Email"/>
      <textarea placeholder="Your Message"></textarea>
      <button>Send</button>
    </div>
    <div class="footer__logo">
      <h4><span class="icon-logo"></span></h4>
      <p>
        Adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Adipiscing elit, sed do
        eiusmod tempor incididunt ut labore magna aliqua.
      </p>
    </div>
  </div>
  <div class="bottom_line">
    <div class="wrapper">
      <h4>© Boogey. Financial Education. All Rights Reserved</h4>
    </div>
  </div>
</div>