
<div class="navi">
  <div class="navi__wrapperXS">
    <div class="navi__logo"><span class="icon-logo"></span></div>
    <div class="navi__button hidden-md hidden-lg" id="menuButton"><i class="fas fa-bars"></i></div>
  </div>
  <div class="menu" id="menu">
    <div class="menu__header">
      <div class="menu__heading">MENU</div>
      <div class="menu__close" id="menuClose"><i class="fas fa-times"></i></div>
    </div>
    <nav class="menu__items"><a class="menu__item">HOW IT WORKS</a><a class="menu__item">blog</a><a class="menu__item">contact us</a><a class="menu__item menu__item--sign">sign up</a><a class="menu__item menu__item--login">login</a></nav>
    <div class="menu__social"><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a target="_blank" href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a><a target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
    <div class="menu__owl"><span class="icon-owl"></span></div>
  </div>
  <div class="navi__wrapperMD">
    <div class="desktopMenu">
      <div class="desktopMenu__item">HOW IT WORKS</div>
      <div class="desktopMenu__item">blog</div>
      <div class="desktopMenu__item">contact us</div>
    </div>
    <div class="social"><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a target="_blank" href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a><a target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
    <div class="buttons">
      <div class="sign">Sign Up</div>
      <div class="login">Login</div>
    </div>
  </div>
</div>