
<head>
  <meta charset="utf-8"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="fonts/fa/css/fontawesome-all.css"/>
  <script src="js/libs/jQuery 3.2.1.js"></script>
</head>